body{
    background-color: rgb(238, 238, 238);
    margin: 0px 0px 0px 0px;
}

.shadow-effect{
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2)
}

.wrapper{
    background-color: white;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 0px 0px 0px 0px;
    border-radius: 0.25rem;
    border: 1px solid #DDD;
}

.wrapper-footer{
    background-color: #FBFBFB;
    padding: 10px 0px 10px 0px;
    border-top: 1px solid #DDD;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}

.question-guidelines{
    background-color: #FBFBFB;
    padding: 10px 15px 10px 15px;
    border-radius: 0.5rem;
    border: 1px solid #DDD;
    margin: 10px 20px 10px 20px;
}

.question-guidelines li{
    border: 0px; 
    background-color: inherit;
    padding: 0px 5px 5px 5px;
}

.question-head h2{
    padding: 20px 0px 10px 0px;
    font-weight: 500;
    font-size: 25px;
}

.question-guidelines h2{
    padding: 10px inherit 10px 0px;
    font-weight: 300;
}

.question-guidelines h6{
    padding: 10px inherit 10px 0px;
    font-weight: 500;
}

.question-area {
    border: 0px;
    font-weight: 600;
    font-size: 30px;
    padding-left: 10px;
    padding-top: 10px;
    margin-top:0px;
    color: black;
}

.question-area:focus{
    color: black;
    box-shadow: 0 0 0px #9ecaed;
}

.btn-center{
    text-align: center;
}

.btn-submit{
    background-color: green;
    color:white;
    padding: 5px 20px 5px 20px;
    font-weight: 500;
}

.no-margin-no-padding{
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.iframe{
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    width: 100%;
}

.form-field{

}

