{% extends "questionAnswer/base.html" %}

{% block title %}
     - Postavi Pitanje
{% endblock %}

{% block rel_files %}
{% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'questionAnswer/style.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'questionAnswer/question_answers_style.css' %}" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
{%endblock%}

{% block body %}

<div class = "container">
    <div class="row">
        <div class="col-sm-3">
                <div class = "row pt-2 pb-2 mr-2">
                        <div  class = "col-sm-12 wrapper question-heading">
                            <div class = "pt-2 pb-2 pl-2 pr-2">
                                <h5>
                                    Slične teme
                                </h5>
                            </div>
                            <ul>
                                <li>Prva tema</li>
                                <li>Druga tema</li>
                                <li>Treca tema</li>
                                <li>Cetvrta tema</li>
                            </ul>
                        </div>
                    </div>
        </div>
        <div class="col-sm-9">
            <div class = "row pt-2 pb-2">
                <div  class = "col-sm-12 wrapper question-heading">
                    <div class = "pt-2 pb-2 pl-2 pr-2">
                        <h2>
                        {% for q in question %}
                            {{q}}?
                        {% endfor %}
                        </h2>
                    </div>
                </div>
            </div>
            <div class = "row pt-2 pb-2">
                <div  class = "col-sm-12  wrapper answer-wrapper">
                    <div>
                                    <button class = "btn editor-btn"><i class = "fa fa-bold"></i></button>
                                    <button class = "btn"><i class = "fa fa-italic"></i></button>
                                    <button class = "btn"><i class = "fa fa-list-ol"></i></button>
                                    <button class = "btn"><i class = "fa fa-list-ul"></i></button>
                                    <button class = "btn"><i class = "fa fa-link"></i></button>
                                <iframe class = "iframe" frameborder = "0">
        
                                </iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>
{% endblock %}