{% extends "questionAnswer/base.html" %}

{% block title %}
     - Postavi Pitanje
{% endblock %}

{% block rel_files %}
{% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'questionAnswer/style.css' %}" />
{%endblock%}

{% block body %}

    <div class = "container">
        <div class = "row pt-4 pb-4">
            <div  class = "col-sm-8 offset-sm-2 wrapper">
                <div class="question-head">
                    <h2 class="text-center">
                        Pocetna stranica
                    </h2>
                </div>
            </div>
        </div>
    </div>
{% endblock %}