{% extends "questionAnswer/base.html" %}

{% block title %}
     - Postavi Pitanje
{% endblock %}

{% block rel_files %}
{% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'questionAnswer/style.css' %}" />
{%endblock%}


{% block body %}
<div class = "container">
    <div class = "row pt-4 pb-4">
        <div  class = "col-sm-8 offset-sm-2 wrapper ">
            <div class="question-head">
                <h2 class="text-center">
                    Postavite pitanje
                </h2>
            </div>
            <form method="post" class = "no-margin-no-padding">
                {% csrf_token %}
                <div class="question-guidelines">
                    <h6>
                        Saveti da dobijete više odgovora na ovo pitanje:
                    </h6>
                    <ul class="list-group">
                        <li class="list-group-item">
                            Postavljajte jasna pitanja.
                        </li>
                        <li class="list-group-item">
                            Proverite gramatičke greške.
                        </li>
                        <li class="list-group-item">
                            Postavite ga u obliku pitanja.
                        </li>
                    </ul>
                </div>
                {% for field in form %}
                <div class = "form-group">
                    <div class="col-sm-12">
                            {{field}}
                    </div>
                </div>
                
                {% endfor %}
                <div class = "wrapper-footer">
                        <div class = "btn-center">
                            <input type="submit" class="btn btn-submit" value="Pitaj"/>
                        </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}