{% extends "questionAnswer/base.html" %}

{% block title %}
     - Registracija
{% endblock %}

{% block rel_files %}
{% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'questionAnswer/style.css' %}" />
{%endblock%}


{% block body %}
<div class = "container">
    <div class = "row pt-4 pb-4">
        <div  class = "col-sm-8 offset-sm-2 wrapper ">
            <div class="question-head">
                <h2 class="text-center">
                    Registracija
                </h2>
            </div>
            <form method="post" class = "no-margin-no-padding">
                {% csrf_token %}
                {% for field in form %}
                <div class = "form-group">
                    <div class="col-sm-6">
                            {{field.label}}
                    </div>
                    <div class="col-sm-6">
                            {{field}}
                    </div>
                </div>
                
                {% endfor %}
                <div class = "wrapper-footer">
                        <div class = "btn-center">
                            <input type="submit" class="btn btn-submit" value="Registruj se"/>
                        </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}